<!-- <organization-nx-welcome></organization-nx-welcome> -->
<organization-banner> </organization-banner>
<!-- <ul>
  <li *ngFor="let product of products">
    <strong>{{ product.name }}</strong> Price: {{ product.price }}
  </li>
</ul> -->
<div class="container mt-4">
    <div class="row">
        <div class="col" *ngFor="let product of products">
            <div class="card" style="width: 18rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <img src="http://media.istockphoto.com/photos/organization-concept-picture-id486008124?k=6&m=486008124&s=612x612&w=0&h=m1pmsppNLBVSJz1mNC49qmxp3cyluxwDIhX2QdV0zsk=" alt="..." class="img-thumbnail">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Click Here</a>
                </div>
              </div>
        </div>
    </div>
</div>

